.selection_bubble {
  position: absolute !important;
  background-color: #6CB4EE;
  z-index: 100000 !important;
  color: white;
  /* pointer-events: none !important; */
  border-radius: 10px;

  font-size: 24px;

  padding: 4px;

  margin-bottom: 24px;;

  margin-left: -8px;
}

.selection_bubble .selection_bubble_popup {
  
}
